*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  font-family: PlayfairDisplay;
  background-color: var(--background-color) !important;
  position: relative;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay.ttf);
}
:root {
  --background-color: rgb(245, 245, 241);
  --orange-color: rgb(252, 117, 35);
  --title-color: rgb(51, 51, 56);
  --text-color: rgb(136, 132, 125);
  --default-transition: all 0.3s;
  --default2-transition: all 0.5s;
}
ul,
li {
  list-style: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
h2 {
  font-size: 20px;
  letter-spacing: 3px;
  color: var(--title-color);
  margin-bottom: 30px;
}
/* IMFORMATION */
.imformation {
  width: 25%;
  height: 20px;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 15px;
  color: var(--title-color);
  display: flex;
}
.imformation .admin {
  padding-right: 10px;
  border-right: 1px solid var(--text-color);
}
.imformation .date {
  font-size: 14px;
  padding-left: 10px;
}
.imformation .admin:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* SEARCH BOX */
.search-box {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.925);
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search-box img {
  width: 20px;
  height: 20px;
}
.search-box input {
  width: 90%;
  height: 20px;
  font-size: 15px;
  border: none;
}
.search-box input:focus {
  outline: 0;
}
.search-box img:hover {
  cursor: pointer;
}
/* SOCIAL MEDIA */
.social-medias {
  width: 100%;
  height: 40px;
  margin: 40px 0;
  display: flex;
}
.social-medias .social-media {
  position: relative;
}
.social-medias .social-media img {
  width: 33px;
  height: 33px;
  padding: 8px;
  margin-right: 10px;
  background-color: white;
}
.social-medias .social-media p {
  width: 65px;
  height: 22px;
  font-size: 10px;
  color: white;
  background-color: #333;
  border-radius: 3px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -25%;
  opacity: 0;
  transition: var(--default-transition);
}
.social-medias .social-media p::before {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #333;
  position: absolute;
  top: -55%;
  left: 50%;
  transform: translatex(-50%);
  opacity: 0;
  transition: var(--default-transition);
}
.social-medias .social-media:hover {
  cursor: pointer;
}
.social-medias .facebook:hover p,
.social-medias .facebook:hover p::before {
  opacity: 1;
}
.social-medias .instagram:hover p,
.social-medias .instagram:hover p::before {
  opacity: 1;
}
.social-medias .twitter:hover p,
.social-medias .twitter:hover p::before {
  opacity: 1;
}
.social-medias .youtube:hover p,
.social-medias .youtube:hover p::before {
  opacity: 1;
}
/* HEADER */
header {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header ul {
  width: 70%;
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
  color: var(--title-color);
  display: flex;
  justify-content: space-between;
}
header ul li {
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
header ul li:first-child {
  color: var(--orange-color);
  border-bottom: 2px solid var(--orange-color);
}
header ul .search {
  width: 25px;
  height: 40px;
  background: url(../images/search-icon.svg) no-repeat center;
  background-size: 70%;
}
.hamburger-menu {
  display: none;
}
header ul .search-box {
  display: none;
}
header .website-logo:hover {
  cursor: pointer;
}
header ul li:hover {
  color: var(--orange-color);
  border-bottom: 2px solid var(--orange-color);
  cursor: pointer;
}
header ul .search:hover {
  background-image: url(../images/orange-search-icon.svg);
}
/* MAIN */

/* Hero */
.hero {
  width: 100%;
  height: 600px;
  background: url(../images/hero-section.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.website-title {
  width: 55%;
  height: 250px;
  padding: 20px 80px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.website-title::before {
  content: "TODAY'S PICKS";
  width: 170px;
  height: 40px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--orange-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.website-title h1 {
  font-size: 2.5rem;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: var(--default2-transition);
}
.website-title p {
  font-size: 18px;
  margin-top: 20px;
  margin-top: 20px;
}
.website-title h1:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* Foodie Journal */
/* .foodie-journal-position {
  position: relative;
} */
.foodie-journal {
  width: 90%;
  padding: 40px 0;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-15%);
}
.foodie-journal h2 {
  width: 95%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodie-journal h2::before,
.foodie-journal h2::after {
  content: "";
  width: 37%;
  height: 5px;
  margin: 0 10px;
  border-bottom: 1px dotted lightgray;
}
.journals {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.journals figure {
  width: 31%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.journals figure .image-box {
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
  overflow: hidden;
}
.journals figure .image-box .image {
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.journals figure .image-box .image1 {
  background-image: url(../images/photo-journal1.jpg);
}
.journals figure .image-box .image2 {
  background-image: url(../images/photo-journal2.jpg);
}
.journals figure .image-box .image3 {
  background-image: url(../images/photo-journal3.jpg);
}
.journals figure figcaption {
  width: 80%;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  word-spacing: 2px;
  color: var(--title-color);
  margin-bottom: 15px;
  transition: var(--default-transition);
}
.foodie-journal .journals figure .imformation {
  width: 50%;
  margin-left: 25px;
}
.journals figure .image-box .image:hover,
.farm-to-table-left-section .recipes .recipe-magzine .image-box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.journals figure figcaption:hover,
.farm-to-table-left-section .recipes .recipe-magzine .title:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* Recipes */
.recipes,
.colinary-collection,
.subscribe-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes p,
.colinary-collection p,
.farm-to-table > p,
.subscribe-section p {
  width: 50%;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  color: var(--text-color);
  margin-bottom: 60px;
}
.recipes-inner-section {
  display: flex;
  justify-content: space-between;
}
/* main recipe */
.main-recipe,
.food-corner {
  width: 48%;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: var(--default2-transition);
}
.main-recipe img,
.food-corner img {
  width: 100%;
}
.main-recipe h3,
.food-corner h3 {
  font-size: 20px;
  margin-top: 40px;
  padding: 0 40px;
  color: var(--title-color);
  transition: var(--default-transition);
}
.main-recipe ul {
  padding: 0 40px;
  margin-top: 15px;
  display: flex;
  gap: 8px;
}
.main-recipe ul li {
  transition: var(--default-transition);
}
.main-recipe hr {
  margin: 50px;
  color: var(--text-color);
}
.main-recipe p,
.food-corner p {
  width: 100%;
  text-align: justify;
  padding: 0 40px;
}
.main-recipe button,
.farm-to-table button {
  width: 140px;
  height: 45px;
  word-spacing: 3px;
  margin-left: 40px;
  margin-bottom: 25px;
  color: white;
  background-color: var(--orange-color);
  border: none;
  border-radius: 3px;
}
.main-recipe:hover,
.food-corner:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.main-recipe h3:hover,
.main-recipe ul li:hover {
  color: var(--orange-color);
  cursor: pointer;
}
.main-recipe button:hover,
.farm-to-table button:hover {
  cursor: pointer;
}
/* other recipe */
.other-recipes {
  width: 48%;
  height: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.other-recipes .recipe {
  width: 48%;
  transition: var(--default2-transition);
  position: relative;
  overflow: hidden;
}
.other-recipes .recipe .recipe-image,
.demos .demo .demo-photo {
  width: 100%;
  height: 270px;
  background: no-repeat center;
  background-size: cover;
}
.other-recipes .recipe .recipe-image1,
.demos .demo .demo-photo1 {
  background-image: url(../images/recipe1.jpg);
}
.other-recipes .recipe .recipe-image2,
.demos .demo .demo-photo2 {
  background-image: url(../images/recipe2.jpg);
}
.other-recipes .recipe .recipe-image3,
.demos .demo .demo-photo3 {
  background-image: url(../images/recipe3.jpg);
}
.other-recipes .recipe .recipe-image4,
.demos .demo .demo-photo4 {
  background-image: url(../images/recipe4.jpg);
}
.other-recipes .recipe .recipe-image5 {
  background-image: url(../images/recipe5.jpg);
}
.other-recipes .recipe .recipe-image6 {
  background-image: url(../images/recipe6.jpg);
}
.other-recipes .recipe .recipe-image::before,
.demos .demo .demo-photo::before {
  content: "";
  width: 100%;
  height: 270px;
  background: linear-gradient(
    to top,
    rgba(252, 118, 35, 0.76),
    rgba(252, 118, 35, 0.712),
    rgba(252, 118, 35, 0.205)
  );
  position: absolute;
  opacity: 0;
  overflow: hidden;
}
.other-recipes .recipe p,
.demos .demo p {
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--default-transition);
  overflow: hidden;
}
.other-recipes .recipe:hover,
.demos .demo:hover {
  cursor: pointer;
}
.other-recipes .recipe:hover .recipe-image::before,
.demos .demo:hover .demo-photo::before {
  opacity: 1;
}
.other-recipes .recipe:hover p,
.demos .demo:hover p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* Colinary Collection */
.colinary-collection {
  margin-top: 120px;
}
.collections {
  width: 100%;
  height: 430px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.collections .collection {
  width: 23%;
  height: 200px;
  background-color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1),
    -5px -5px 10px 0 rgba(0, 0, 0, 0.1);
}
.collections .collection .collection-photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  transition: var(--default2-transition);
}
.collections .collection .collection-photo1 {
  background-image: url(../images/collection-photo1.webp);
}
.collections .collection .collection-photo2 {
  background: url(../images/collection-photo2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.collections .collection .collection-photo3 {
  background-image: url(../images/collection-photo3.webp);
}
.collections .collection .collection-photo4 {
  background-image: url(../images/collection-photo4.webp);
}
.collections .collection .collection-photo5 {
  background-image: url(../images/collection-photo5.webp);
}
.collections .collection .collection-photo6 {
  background-image: url(../images/collection-photo6.webp);
}
.collections .collection .collection-photo7 {
  background-image: url(../images/collection-photo7.webp);
}
.collections .collection .collection-photo8 {
  background-image: url(../images/collection-photo8.webp);
}
.collections .collection .collection-title {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.collections .collection .collection-photo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.collections .collection .collection-title:hover {
  color: white;
  background-color: var(--orange-color);
  cursor: pointer;
}
/* Farm To Table */
.farm-to-table {
  width: 100%;
  margin: 120px 0;
  position: relative;
}
.farm-to-table > p {
  text-align: justify;
}
.farm-to-table button {
  width: 170px;
  position: absolute;
  top: 0;
  right: 0;
}
.farm-to-table-inner-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* farm to table left section */
.farm-to-table-left-section {
  width: 62%;
}
.food-corner {
  width: 100%;
  margin-bottom: 40px;
}
.food-corner p {
  margin-top: 30px;
}
.food-corner a {
  width: 85px;
  font-size: 17px;
  text-decoration: none;
  margin: 40px;
  color: var(--title-color);
  border-bottom: 2px solid var(--text-color);
}
.farm-to-table-left-section .recipes {
  width: 100%;
  height: 1400px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.farm-to-table-left-section .recipes .recipe-magzine {
  width: 48%;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.farm-to-table-left-section .recipes .recipe-magzine .image-box {
  width: 100%;
  overflow: hidden;
}
.farm-to-table-left-section .recipes .recipe-magzine .image-box img {
  width: 100%;
  transition: all 1s;
}
.farm-to-table-left-section .recipes .recipe-magzine .title {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
  margin-top: 20px;
  transition: var(--default-transition);
}
.farm-to-table-left-section .recipes .recipe-magzine .imformation {
  width: 50%;
  margin-bottom: 30px;
}
/* farm to table right section */
.farm-to-table-right-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.farm-to-table-right-section .lastest-recipes {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  background: url(../images/lastest-recipes.jpg) no-repeat center;
  background-size: cover;
}
.farm-to-table-right-section .city-guide {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.farm-to-table-right-section .city-guide .city-guide-singapore {
  width: 100%;
  height: 250px;
  background: url(../images/city-guide.jpg) no-repeat center;
  background-size: cover;
}
.farm-to-table-right-section .city-guide p {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.farm-to-table-right-section .city-guide p img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.farm-to-table-right-section .city-guide::before {
  content: "City Guide Singapore";
  width: 80%;
  height: 60px;
  font-size: 27px;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
}
.farm-to-table-right-section .city-guide:hover {
  cursor: pointer;
}
.blogs {
  width: 100%;
}
.blogs .blog-categories {
  width: 100%;
  height: 50px;
  border: 1px solid var(--text-color);
  display: flex;
}
.blogs .blog-categories .blog-category {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs .blog-categories .blog-category:first-child {
  border-right: 1px solid var(--text-color);
}
.blogs .blog-categories .blog-category:hover {
  cursor: pointer;
}
.blogs .blog-samples {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.blogs .blog-samples .blog {
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs .blog-samples .blog .blog-photo {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border-radius: 50%;
  background: no-repeat center;
  background-size: cover;
}
.blogs .blog-samples .blog .blog-photo1 {
  background-image: url(../images/blog1.jpg);
}
.blogs .blog-samples .blog .blog-photo2 {
  background-image: url(../images/blog2.jpg);
}
.blogs .blog-samples .blog .blog-photo3 {
  background-image: url(../images/blog3.jpg);
}
.blogs .blog-samples .blog .blog-imformation {
  width: 80%;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blogs .blog-samples .blog .blog-imformation .blog-name {
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  color: var(--title-color);
  transition: var(--default-transition);
}
.blogs .blog-samples .blog .blog-imformation .blog-date {
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: var(--text-color);
}
.blogs .blog-samples .blog .blog-photo:hover {
  cursor: pointer;
}
.blogs .blog-samples .blog .blog-imformation .blog-name:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* Subscribe Section */
.subscribe-section {
  width: 100%;
  padding: 80px 0;
  margin-top: 30px;
  margin-left: 0px;
  background: url(../images/subscribe-section.png) no-repeat center, white;
  background-size: cover;
}
.subscribe-section h2 {
  font-size: 30px;
}
.subscribe-section h2 span {
  color: var(--orange-color);
}
.subscribe-section form {
  width: 48%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe-section form input {
  width: 70%;
  height: 60px;
  font-size: 14px;
  padding: 15px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
.subscribe-section form input:focus {
  outline: 0;
}
.subscribe-section form button {
  width: 27%;
  height: 60px;
  font-size: 15px;
  color: white;
  background-color: var(--orange-color);
  border: none;
  border-radius: 3px;
}
.subscribe-section form input:hover {
  border: 2px solid var(--orange-color);
}
.subscribe-section form button:hover {
  cursor: pointer;
}
/* Demos */
.demos {
  width: 100%;
  display: flex;
}
.demos .demo {
  width: 25%;
  position: relative;
}
/* About Us */
.about-us {
  width: 100%;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us .logo-and-social-media {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .logo-and-social-media .logo {
  width: 80%;
  height: 80px;
  background: url(../images/website-logo2.png) no-repeat center;
  background-size: contain;
}
.about-us .logo-and-social-media .social-medias {
  width: 60%;
}
.about-us .menu {
  width: 23%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .menu li {
  width: 85%;
  height: 50px;
  font-size: 17px;
  color: var(--title-color);
  display: flex;
  position: relative;
  transition: var(--default-transition);
}
.about-us .menu li:hover {
  color: var(--orange-color);
  border-right: 2px solid var(--orange-color);
  cursor: pointer;
}
.about-us .contact-us,
.about-us .get-app {
  width: 23%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.about-us .contact-us .title,
.about-us .get-app .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--orange-color);
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-us .contact-us ul {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about-us .contact-us ul li {
  width: 100%;
  height: 50px;
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us .contact-us ul li img {
  width: 18px;
  height: 18px;
}
.about-us .contact-us ul li p {
  width: 80%;
  font-size: 16px;
}
.about-us .get-app .apps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-us .get-app .apps img {
  width: 70%;
}
.about-us .get-app .apps img:hover {
  cursor: pointer;
}
/* FOOTER */
footer {
  width: 100%;
  height: 80px;
  font-size: 13px;
  word-spacing: 2px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
  margin: 0 4px;
}
footer span:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* FIXES ELEMENTS */
.up-to-first {
  width: 45px;
  height: 45px;
  font-size: 50px;
  color: black;
  border-radius: 50px;
  background-color: #33333362;
  background-image: url(../images/circle-up.svg);
  background-position: center;
  background-size: 145%;
  position: fixed;
  left: 4%;
  bottom: 4%;
}
.up-to-first:hover {
  cursor: pointer;
}
.shop-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 3%;
  top: 30%;
}
.fixed-icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fixed-icon img {
  width: 25px;
  height: 25px;
}
.fixed-icon p {
  font-size: 11px;
  font-weight: bold;
}
.fixed-icon:hover {
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1150px) {
  /* Foodie Journal */
  .foodie-journal h2::before,
  .foodie-journal h2::after {
    content: "";
    width: 20%;
    height: 5px;
  }
}

@media (max-width: 1120px) {
  /* Hero */
  .website-title h1 {
    font-size: 2rem;
  }
  /* Foodie Journal */
  .foodie-journal .journals figure figcaption {
    margin-bottom: 35px;
  }
  /* Recipes & Farm To Table*/
  .recipes-inner-section,
  .farm-to-table-inner-section {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
  }
  .recipes-inner-section .main-recipe,
  .recipes-inner-section .other-recipes,
  .farm-to-table-left-section,
  .farm-to-table-right-section {
    width: 98%;
  }
  .farm-to-table-right-section .lastest-recipes {
    width: 100%;
    height: 700px;
  }
  /* About Us */
  .about-us .logo-and-social-media .social-medias {
    width: 100%;
  }
}

@media (max-width: 900px) {
  /* Foodie Journal */
  .foodie-journal-position {
    margin-top: 120px;
  }
  .foodie-journal .journals {
    flex-wrap: wrap;
    gap: 30px;
  }
  .foodie-journal .journals figure {
    width: 48%;
  }
  /* Colinary Collection */
  .collections {
    gap: 15px;
  }
  .collections .collection {
    width: 45%;
  }
  /* About Us */
  .about-us {
    height: auto;
    padding: 30px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about-us .logo-and-social-media,
  .about-us .menu,
  .about-us .contact-us,
  .about-us .get-app {
    width: 45%;
  }
  .about-us .logo-and-social-media .social-medias {
    width: 60%;
  }
  .about-us .contact-us {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  /* HEADER */
  header {
    width: 80%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  header .website-logo img {
    width: 110px;
    height: 90px;
    margin-left: 30px;
    margin-top: 20px;
  }
  header .menu {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100%;
    display: none;
  }
  header .menu li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li:first-child,
  header .menu li:hover {
    color: white;
    background-color: var(--orange-color);
  }
  header .menu .search {
    display: none;
  }
  header .menu .search-box {
    width: 90%;
    display: block;
  }
  header .menu .search-box img {
    margin-right: 20px;
  }
  header .menu .search-box:hover {
    background-color: transparent;
    border: none;
  }
  .hamburger-menu {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/hamburger-menu.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 20%;
  }
  .haburger-menu:checked ~ .menu {
    display: block;
  }
  /* Hero */
  .website-title h1 {
    font-size: 1.5rem;
  }
  /* Foodie Journal */
  .foodie-journal .journals figure .imformation {
    margin-top: 15px;
  }
  .foodie-journal h2::before,
  .foodie-journal h2::after {
    content: "";
    width: 20%;
    height: 5px;
  }
  /* Subscribe Section */
  .subscribe-section h2 {
    text-align: center;
    padding: 20px;
  }
  .subscribe-section form {
    flex-direction: column;
    gap: 15px;
  }
  .subscribe-section form input {
    width: 90%;
  }
  .subscribe-section form button {
    width: 90%;
  }
  /* Demos */
  .demos {
    flex-wrap: wrap;
  }
  .demos .demo {
    width: 50%;
  }
  /* FOOTER */
  footer {
    font-size: 10px;
  }
  /* FIXED ELEMENTS */
  .fixed-icon {
    width: 60px;
    height: 60px;
  }
  .fixed-icon img {
    width: 25px;
    height: 25px;
  }
  .fixed-icon p {
    font-size: 9px;
  }
}

@media (max-width: 650px) {
  /* Hero */
  .website-title h1 {
    font-size: 1rem;
  }
  .website-title p {
    font-size: 10px;
  }
  /* Foodie Journal */
  .foodie-journal .journals figure {
    width: 90%;
  }
  /* Recipes */
  .recipes-inner-section .other-recipes {
    width: 98%;
    margin-bottom: 850px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .recipes-inner-section .other-recipes .recipe {
    width: 98%;
  }
  /* About Us */
  .about-us {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .about-us .logo-and-social-media,
  .about-us .menu,
  .about-us .contact-us,
  .about-us .get-app {
    width: 80%;
  }
  .about-us .logo-and-social-media,
  .about-us .menu {
    border-bottom: 1px solid lightgray;
  }
  .about-us .get-app .apps {
    width: 70%;
    align-items: center;
  }
  /* FOOTER */
  footer {
    font-size: 7px;
  }
}

@media (max-width: 580px) {
  /* Recipes & Farm To Table */
  .main-recipe h3,
  .food-corner h3 {
    font-size: 15px;
  }
  .main-recipe ul {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  /* Foodie Journal */
  .foodie-journal h2::before,
  .foodie-journal h2::after {
    content: "";
    width: 10%;
    height: 5px;
  }
}

@media (max-width: 380px) {
  /* Foodie Journal */
  .foodie-journal h2::before,
  .foodie-journal h2::after {
    content: "";
    width: 5%;
    height: 5px;
  }
}
